* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

.Container {
  text-align: center;
  background-color: #040b11;
  color: #f8f8f8;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.Content {
  margin: 32px 43px;
}

.Header {
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.Create {
  text-align: end;
  color: #ffc100;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.Selection {
  display: flex;
  justify-content: space-between;
}

.Selection > h3 {
  font-size: 0.75rem;
  margin-right: 1rem;
}

.Selection > h3.Active {
  border-bottom: 3px solid #ffc100;
  padding-right: 0.5rem;
  color: #ffc100;
}

.Upcoming {
  display: flex;
  font-size: 0.85rem;
}

.Upcoming > .Label {
  margin-right: 0.5rem;
}

.Upcoming > .Tasks {
  font-weight: 600;
  color: gray;
}

.BoxContainer {
  display: flex;
  margin-right: 0;
}

.Box {
  background-color: #10161c;
  min-width: 7.3rem;
  text-align: start;
  padding: 0 0.6rem 0 1.2rem;
  border-radius: 5px;
  box-shadow: -1px -1px 3px #30353d;
  margin-right: 2rem;
}

.Box > h3 {
  font-size: 0.75rem;
}
.Box > p {
  margin-top: -0.7rem;
  font-size: 0.65rem;
  color: gray;
}

.Box > .Progress {
  margin-top: -0.6rem;
  font-size: 0.6rem;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.Box > .ProgressBar {
  width: 100%;
  height: 4px;
  background-color: #494c50;
  border-radius: 4px;
}

.Box > .ProgressPercent {
  width: 30%;
  height: 4px;
  background-color: #ffc100;
  border-radius: 4px;
  margin-top: -4px;
}

.Box > .TimeLeft {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: end;
  font-size: 0.6rem;
  color: gray;
}

.Statistics {
  margin-top: 2rem;
}

.Statistics > .Header {
  display: flex;
  font-size: 0.85rem;
}

.Header > .Download {
  background-color: #10161c;
  box-shadow: 0px 0px 3px #30353d;
  border-radius: 4px;
  display: flex;
}

.Download > .Path {
  padding: 0 4px;
  border-left: 1px solid #494c50;
}

.Statistics > .StaBoxCntr {
  margin-top: -0.5rem;
  width: 100%;
  background-color: #10161c;
  border-radius: 5px;
  box-shadow: -1px -1px 3px #30353d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.StaBox {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.StaCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.8rem;
}

.StaText {
  text-align: left;
  margin-left: 0.75rem;
}

.StaText > h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.StaText > p {
  margin-top: 0;
  font-size: 0.8rem;
  color: gray;
}
